html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-image: url('/images/rockband1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.heading {
  color: rgb(181, 9, 34);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive; 
}

.heading h1 {
  font-size: 8rem;  
  margin: 0;
  padding: 0;
}

.slideshow {
  width: 100%;
  margin: 50px auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bandPic {
  width: 50%;
  margin: 0 auto;
}

.bandPic2 {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.bandPic4 {
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
}

.bandPic3 {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.musicPlayer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.audio_player .audio_time_progress {
  font-size: 12px; 
}

@media only screen and (min-width: 1000px) {
  body {
    background-position: unset;
  }

  .heading h1 {
    font-size: 15rem;
  }

  .slideshow {
    width: 75%;
    margin: 20px auto;
  }
  
  .bandPic {
    width: 400px;
    margin: 0 auto;
  }

  .bandPic2 {
    width: 65%;
    margin: 0 auto;
  }

  .bandPic4 {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .bandPic3 {
    width: 55%;
    margin: 0 auto;
  }

  .musicPlayer {
    left: 10%;
    width: 80%;
    margin: 0 auto;
  }

  .audio_player .audio_time_progress {
    font-size: 23px; 
  }
}